<template>
  <el-row class="tac">
    <el-col :span="24">
      <el-menu
          default-active="2"
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose">
        <el-menu-item index="1">
          <router-link to="/">
          <i class="el-icon-menu"></i>
          </router-link>
          <span>대시보드</span>
        </el-menu-item>
        <el-menu-item index="2">
          <i class="el-icon-user"></i>
          <span>고객 관리</span>
        </el-menu-item>
        <el-menu-item index="3">
          <i class="el-icon-document"></i>
          <span>주문 관리</span>
        </el-menu-item>
        <el-menu-item index="4">
          <i class="el-icon-truck"></i>
          <span>배송 관리</span>
        </el-menu-item>
        <el-menu-item index="5">
          <i class="el-icon-suitcase"></i>
          <span>상품 관리</span>
        </el-menu-item>
        <el-menu-item index="6">
          <i class="el-icon-shopping-cart-full"></i>
          <span>재고 관리</span>
        </el-menu-item>
        <el-submenu index="7">
          <template slot="title">
            <i class="el-icon-edit-outline"></i>
            <span>게시판 관리</span>
          </template>
          <el-menu-item-group title="커뮤니티 게시판">
            <el-menu-item index="7-1">CS 관리</el-menu-item>
            <el-menu-item index="7-2">공지사항 관리</el-menu-item>
            <el-menu-item index="7-3">이벤트 게시판 관리</el-menu-item>
            <el-menu-item index="7-4">매거진 관리</el-menu-item>
          </el-menu-item-group>
        </el-submenu>
      </el-menu>
    </el-col>
  </el-row>
</template>

<script src="//unpkg.com/vue@2/dist/vue.js">
</script>
<script src="//unpkg.com/element-ui@2.15.14/lib/index.js"></script>

<script>
export default {
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
}
</script>