<template>
  <el-descriptions class="margin-top" title="고객 상세" :column="4" :size="size" border>
    <template slot="extra">
      <el-button type="primary" size="small">수정</el-button>
    </template>
    <el-descriptions-item>
      <template slot="label">
        아이디
      </template>
      kooriookami
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        고객명
      </template>
      김통깨
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        전화번호
      </template>
      010-1111-1111
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        우편번호
      </template>
      13340
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        주소
      </template>
      경기도 시흥시 OO동 OO아파트 OOO동 OOO호
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        가입일자
      </template>
      2022.02.04
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        마케팅 동의 여부
      </template>
      동의
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        회원 유형
      </template>
      멤버십 회원
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        이용 내역
      </template>
      <el-table
          :data="tableData"
          stripe
          style="width: 100%">
        <el-table-column
            prop="orderNumber"
            label="주문번호"
            width="180">
        </el-table-column>
        <el-table-column
            prop="goodsName"
            label="상품명"
            width="180">
        </el-table-column>
        <el-table-column
            prop="orderDay"
            label="주문일">
        </el-table-column>
        <el-table-column
            prop="rentalStartDay"
            label="대여 시작일">
        </el-table-column>
        <el-table-column
            prop="rentalEndDay"
            label="반납 일자">
        </el-table-column>
        <el-table-column
            prop="delayDay"
            label="연체일">
        </el-table-column>
        <el-table-column
            prop="delayPay"
            label="연체료">
        </el-table-column>
      </el-table>
    </el-descriptions-item>
  </el-descriptions>

</template>

<script>
export default {
  data() {
    return {
      tableData: [{
        orderNumber: '1',
        goodsName: 'A 세트',
        orderDay: '2023.11.01',
        rentalStartDay: '2023.11.10',
        rentalEndDay: '-',
        delayDay: '10일',
        delayPay: '100,000원',
      },
        {
          orderNumber: '1',
          goodsName: 'A 세트',
          orderDay: '2023.11.01',
          rentalStartDay: '2023.11.10',
          rentalEndDay: '-',
          delayDay: '10일',
          delayPay: '100,000원',
        },
        {
          orderNumber: '1',
          goodsName: 'A 세트',
          orderDay: '2023.11.01',
          rentalStartDay: '2023.11.10',
          rentalEndDay: '-',
          delayDay: '10일',
          delayPay: '100,000원',
        },]
    };
  }
}
</script>