<template>
  <div class="dash-board-container">
    <div><h1>DCloset Dash Borad</h1></div>
    <div>
      <el-alert
          title="새로운 업무 알림"
          type="warning"
          description="확인해야 할 업무사항이 있습니다."
          center
          show-icon>
      </el-alert>
    </div>
    <div class="dash-board-graph">
      <div class="dash-board-graph-1"><el-progress type="circle" :percentage="75" status="warning"></el-progress></div>
      <div class="dash-board-graph-2"><el-progress type="circle" :percentage="80" status="warning"></el-progress></div>
      <div class="dash-board-graph-3"><el-progress type="circle" :percentage="90" status="warning"></el-progress></div>
      <div class="dash-board-graph-4"><el-progress type="circle" :percentage="100" status="success"></el-progress></div>
    </div>
    <div class="dcloset-statics-today">
      <div></div>
      <el-row :gutter="20">
        <el-col :span="6">
          <div>
            <el-statistic title="신규 주문">
              <template slot="formatter">
                25건
              </template>
            </el-statistic>
          </div>
        </el-col>
        <el-col :span="6">
          <div>
            <el-statistic title="Q&A 게시판">
              <template slot="formatter">
                7건
              </template>
            </el-statistic>
          </div>
        </el-col>
        <el-col :span="6">
          <div>
            <el-statistic title="교환 / 반송">
              <template slot="formatter">
                3건
              </template>
            </el-statistic>
          </div>
        </el-col>
        <el-col :span="6">
          <div>
            <el-statistic title="당일 매출액">
              <template slot="formatter">
                984,000원
              </template>
            </el-statistic>
          </div>
        </el-col>
      </el-row>
    </div>
    <div>
      <el-alert
          title="이번 달 통계"
          type="info"
          center
          show-icon>
      </el-alert>
    </div>
    <div class="dcloset-statics-month">
      <div></div>
      <el-row :gutter="20">
        <el-col :span="4">
          <div>
            <el-statistic title="당월 주문건">
              <template slot="formatter">
                325건
              </template>
            </el-statistic>
          </div>
        </el-col>
        <el-col :span="4">
          <div>
            <el-statistic title="당월 신규 회원가입">
              <template slot="formatter">
                612건
              </template>
            </el-statistic>
          </div>
        </el-col>
        <el-col :span="4">
          <div>
            <el-statistic title="당월 멤버십 가입">
              <template slot="formatter">
                142건
              </template>
            </el-statistic>
          </div>
        </el-col>
        <el-col :span="4">
          <div>
            <el-statistic title="당월 결제">
              <template slot="formatter">
                1,483건
              </template>
            </el-statistic>
          </div>
        </el-col>
        <el-col :span="4">
          <div>
            <el-statistic title="당월 배송건">
              <template slot="formatter">
               332건
              </template>
            </el-statistic>
          </div>
        </el-col>
        <el-col :span="4">
          <div>
            <el-statistic title="당월 매출액">
              <template slot="formatter">
                13,240,000원
              </template>
            </el-statistic>
          </div>
        </el-col>
      </el-row>
    </div>
    <h2>신규 가입 회원</h2>
    <div class = "new-join">
      <el-table
          ref="singleTable"
          :data="tableData"
          highlight-current-row
          @current-change="handleCurrentChange"
          style="width: 100%">
        <el-table-column
            type="index"
            width="50">
        </el-table-column>
        <el-table-column
            property="date"
            label="Date"
            width="120">
        </el-table-column>
        <el-table-column
            property="name"
            label="Name"
            width="120">
        </el-table-column>
        <el-table-column
            property="address"
            label="Address">
        </el-table-column>
      </el-table>
    </div>
  </div>

</template>

<script>
export default {
  data() {
    return {
      like: true,
      value1: 4154.564,
      value2: 2222,
      title: "Growth this year",
      tableData: [{
        date: '2016-05-03',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles'
      }, {
        date: '2016-05-02',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles'
      }, {
        date: '2016-05-04',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles'
      }, {
        date: '2016-05-01',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles'
      }],
      currentRow: null
    }

  },
  methods: {
    setCurrent(row) {
      this.$refs.singleTable.setCurrentRow(row);
    },
    handleCurrentChange(val) {
      this.currentRow = val;
    }
  }
};
</script>