<template>
  <div class = "customer-list">
    <div></div>
    <div class = "customer-list-content">
      <el-table
          :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
          style="width: 100%">
        <el-table-column
            label="아이디"
            prop="id">
        </el-table-column>
        <el-table-column
            label="이름"
            prop="name">
        </el-table-column>
        <el-table-column
            label="회원 유형"
            prop="memberGrade">
        </el-table-column>
        <el-table-column
            label="가입 날짜"
            prop="joinDate">
        </el-table-column>
        <el-table-column
            label="마케팅 동의 여부"
            prop="isMarketing">
        </el-table-column>
        <el-table-column
            label="잔여 대여 횟수"
            prop="borrow">
        </el-table-column>
        <el-table-column
            label="연체 일수"
            prop="delay">
        </el-table-column>
        <el-table-column
            align="right">
          <template slot="header" slot-scope="scope">
            <el-input
                v-model="search"
                size="mini"
                placeholder="이름을 입력하세요."/>
          </template>
          <template slot-scope="scope">
            <el-button
                size="mini"
                @click="handleEdit(scope.$index, scope.row)" )>자세히 보기</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>

export default {
    data() {
      return {
        tableData: [{
          id: 'ramen_123',
          name: '김계란',
          memberGrade: '멤버십 회원',
          joinDate: '2022.06.04',
          isMarketing: 'Y',
          borrow: '3회',
          delay: '10일'
        }, {
          id: 'ramen_123',
          name: '김통깨',
          memberGrade: '멤버십 회원',
          joinDate: '2022.06.04',
          isMarketing: 'Y',
          borrow: '3회',
          delay: '10일'
        }, {
          id: 'ramen_123',
          name: '김참치',
          memberGrade: '멤버십 회원',
          joinDate: '2022.06.04',
          isMarketing: 'Y',
          borrow: '3회',
          delay: '10일'
        }, {
          id: 'ramen_123',
          name: '김라면',
          memberGrade: '멤버십 회원',
          joinDate: '2022.06.04',
          isMarketing: 'Y',
          borrow: '3회',
          delay: '10일'
        }],
        search: '',
      }
    },
    methods: {
      handleEdit(index, row) {
        console.log(member, row);
      },
    },
}
</script>
