<template>
  <div class="question-container">
    <el-table
        :data="tableData.filter(data => !search || data.questionTitle.toLowerCase().includes(search.toLowerCase()))"
        style="width: 100%">
      <el-table-column
          label="게시물 번호"
          prop="noticeNumber">
      </el-table-column>
      <el-table-column
          label="날짜"
          prop="noticeDate">
      </el-table-column>
      <el-table-column
          label="게시물 제목"
          prop="noticeTitle">
      </el-table-column>
      <el-table-column
          label="게시 상태"
          prop="noticeIsPost">
      </el-table-column>
      <el-table-column
          align="right">
        <template slot="header" slot-scope="scope">
          <el-input
              v-model="search"
              size="mini"
              placeholder="Type to search"/>
        </template>
        <template slot-scope="scope">
          <el-button
              size="mini"
              @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="page-button">
      <el-pagination
          background
          layout="prev, pager, next"
          :total="1000">
      </el-pagination>
    </div>
  </div>


</template>

<script>
export default {
  data() {
    return {
      tableData: [{
        noticeNumber: 1,
        noticeDate: '2024-02-02',
        noticeTitle: '설 연휴 배송 관련 공지',
        noticeIsPost: '게시 중'
      }, {
        noticeNumber: 2,
        noticeDate: '2023-12-30',
        noticeTitle: '1월 1일 배송 공지',
        noticeIsPost: '게시 중'
      }, {
        noticeNumber: 3,
        noticeDate: '2023-12-20',
        noticeTitle: '크리스마스 연휴 배송 공지',
        noticeIsPost: '게시 안함'
      }, {
        noticeNumber: 4,
        noticeDate: '2023-10-20',
        noticeTitle: '추석 연휴 배송 공지',
        noticeIsPost: '게시 안함'
      }],
      search: '',
    }
  },
  methods: {
    handleEdit(index, row) {
      console.log(index, row);
    },
  },
}
</script>